.repo-searcher {
    display: flex;
    flex-direction: column;
    background-color: #C4C4C4;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 80px;
    min-width: auto;
}

.repo-searcher__list {
    margin: 0;
    padding: 0;
    margin-left: 80px;
}

.repo-searcher__repo-list {
    margin-top: 45px;
    margin-left: 80px;
    margin-right: 80px;
}

.repo-searcher__search-input {
    margin-left: 80px;
    margin-right: 80px;
}
