.page {
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.page__repo-searcher {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.page__repo-list {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}
